<h1>Task</h1>
<ul>
<% @tasks.each do |item| %>
  <li><%= link_to item.title, show_path(item.id) %></li>
<% end %>
</ul>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>